*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #060b18;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  text-align: left;
  border: none;
  min-height: 100vh;
}